.input{
    
    display:flex;
    height:3em;
    flex:1;
    outline: 1px solid gray;
    justify-content: flex-end;
    color:black;
    padding: 0.5em;
    font-weight:bold;
    font-size:1.4em;
    align-items: center;
}